@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

:root {
    --preto: #111111;
    --grafite: #2B2B2B;
    --cinza-es: #5A5A5A;
    --cinza-claro: #D1D1D1;
    --branco: #FFFFFF;
    --azul-marinho: #0D1B2A;
    --vermelho: #D90429;
}

body, html {
    background-color: #2b7c78;
    height: 100vh;
    width: 100vw;
}

.btn-close {
    position: fixed;
    top: 15px;
    left: 15px;

    z-index: 1000;
    text-decoration: none;
    color: white;
}

.btn-close .material-symbols-outlined {
    font-size: 36px;
    color: var(--Bege);

    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding: 5px;

    transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn-close:hover .material-symbols-outlined {
    transform: scale(1.15);
    background-color: rgba(0, 0, 0, 0.5);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--azul-marinho);
}

section#login {
    overflow: hidden;

    background-color: var(--azul-marinho);
    color: white;
    width: 250px;
    height: 470px;
    border-radius: 20px;
    box-shadow: 7px 5px 8px rgb(255, 255, 255);
    transition: width 0.3s, height 0.3s;
    border: 1px solid white;

}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.img img{
    width: 95%;
}

section#login > div.formulario {
    display: block;
    padding: 10px;
}

div.formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
}

div.formulario > p {
    font-size: 0.9em;
}

form > div.campo {
    background-color: white;
    display: block;
    height: 35px;
    width: 100%;
    border-radius: 8px;
    margin: 5px 0px;
    border: 2px solid black;

    display: flex;
    align-items: center;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: black;
    font-size: 1.8em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #d3d3d3;
    font-size: 1em;
    width: calc(100% - 43.7px);
    height: 100%;
    border: 0px;
    border-radius: 0px 8px 8px 0px; 
    padding: 5px;
    outline: none;

    flex: 1;
}

div.campo > input:focus-within {
    background-color: #97979780;
    border: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #272727;
    color: white;
    border: 1px solid #dadada;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #2e3232;
}

p.cadastro {
    padding-top: 10px;
    padding-left: 37px;
}

p.cadastro > a {
    text-decoration: none;
    color:  #D90429;
}

p.cadastro > a:hover {
    text-decoration: underline;
}


@media screen and (min-width: 768px) and (max-width: 992px){ /* TABLET */
    body {
        background-color: #2b7c78;
    }
    
    section#login {
        width: 80vw;
        height: 320px;
    }

    section#login > div.img {
        float: left;
        height: 100%;
        width: 30%;
    }

    section#login > div.formulario {
        float: right;
        width: 70%;
    }

    form > input[type=submit] {
        font-size: 15px;
        height: 30px;
    }

    form > a.botao {
        height: 30px;
        font-size: 15px;
    }

    p.cadastro {
        padding-left: 160px;
        padding-top: 10px;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-color: #2b7c78;
    }
    
    section#login {
        width: 950px;
        height: 340px;
    }

    section#login > div.img {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div.formulario {
        float: left;
        width: 50%;
    }

    div.formulario > h1 {
        font-size: 2em;
    }

    div.formulario > p {
        font-size: 1em;
        margin: 20px 0px;
    }

    p.cadastro {
        padding-top: 10px;
        padding-left: 150px;
    }
}