@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html{
    font-size: 10px;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --preto: #111111;
    --grafite: #2B2B2B;
    --cinza-es: #5A5A5A;
    --cinza-claro: #D1D1D1;
    --branco: #FFFFFF;
    --azul-marinho: #0D1B2A;
    --vermelho: #D90429;
}

body {
    background-color: #D1D1D1;
}


header {
    background-color: var(--azul-marinho);
    padding: 0rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1px solid white;
}

header p {
    font-size: 3rem;
    text-align: center;
    padding-left: 12rem;
    color: var(--branco);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 22rem;
}

.links {
    display: flex;
    gap: 10px;
}



/* OFERTAS */

.inconsolata{
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "width" 100; 
}
.lexend1, .lexend{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

div.ofertas {
    background-color: var(--azul-marinho);
    width: 100%;
    height: 500px;
}

.ofertas img{
    width: 100%;
    height: 550px;
    
}

.links a {
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0.377);
    color:white;
    padding: 10px;
    border-radius: 10px;
    font-size: 2.7rem;
    font-family: "Inconsolata", monospace;
   
}

/* OFERTAS */

.inconsolata{
    font-family: "Inconsolata", monospace;
}
.lexend1, .lexend{
    font-family: "Lexend", sans-serif;
}

div.ofertas {
    background-color: var(--azul-marinho);
    width: 100%;
    height: 60rem;
}

.ofertas img {
    width: 100%;
    height: 60rem;
}

.archivo{
    font-family: "Archivo Black", sans-serif;
    font-weight: lighter;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    padding: 50px 30px;
    margin-top: 25rem;
    width: 90%;
    margin: auto;
}

.cards2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    padding: 50px 30px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.card {
    background-color: var(--cinza-es);
    width: 50rem;
    height: 40rem;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 4px 4px 7px 0px black;
    gap: 12px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    background-color: var(--cinza-claro);
    width: 100%;
    height: 20rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card h2 {
    font-size: 3em;
    color: white;
    text-shadow: 4px 2px 5px black;
}

.card a {
    background-color: var(--vermelho);
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 2.2em;
}

.vantagens {
    background-color: var(--azul-marinho);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 10px;
    
}

.vantagens h2 {
    font-size: 4rem;
    padding: 20px 0px;
    color: white;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    flex-wrap: nowrap;
    gap: 40px;

    width: 100%;
}

#ocultos {
    display: none;
}

.aparecer {
    background-color: var(--vermelho);
    padding: 5px 14px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.vant {
    background-color: var(--azul-marinho);
    height: 30rem;
    width: 30rem;
    border-radius: 10px;
    padding: 10px;
    color: white;
    border: 2px solid red;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly ;
    align-items: center;
}

.vant1, .vant2 {
    display: flex;
    align-items: center;
   
    gap: 50px;
    margin: auto;
    transition: all 0.3s ease;
}

.vant2 {
    display: none;
}

.vant h2 {
    font-size: 2.8rem;
}

.vant i{
    font-size: 10rem;
}

.vant p {
    text-align: center;
    font-size: 2rem;
}

.pass {
    font-size: 6em;
    background-color: transparent;
    border: none;
    color: rgb(161, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
}

.pass:hover {
    background-color: #0d1b2a36;
    border-radius: 10px;
}

footer {
    background-color: #0D1B2A;
    padding: 4rem 4rem 0px 4rem;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.footer-content > .footer-section {
    border: 1px solid red;
    color: var(--branco);
    padding: 25px;
    width: 30%;
    height: 27rem;
    border-radius: 10px;
    background-color: #0D1B2A;
}

.footer-section h2 {
    font-size: 4em;
    padding-bottom: 10px;
}

.footer-section p {
    font-size: 2.02rem;
}

.footer-section li {
    font-size: 2.3rem;
    line-height: 1.5;
}

.footer-section ul {
    list-style-type: none;
}

.link{
    text-decoration: none;
    color: #D1D1D1;
}

footer img{
    width: 40rem;
    margin: auto;
    display: block;
}

.copy {
    background-color: black;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 2rem;
}

span {
    color: var(--cinza-claro);
}

.preco p{
    font-size: 3rem;
}

.valorAntigo {
    color: #D90429;
}